* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}

.body__background {
  background-color: aqua;
}

.div__contenido {
  padding: 3rem;
  display: grid;
  grid-template:
    "header header header" auto
    "main main main" 2fr
    "sobremi sobremi sobremi" auto
    "skills skills skills" auto
    "estudio estudio estudio" auto
    "proyectos proyectos proyectos" auto
    "form form form" auto
    "footer footer footer" auto / 1fr 1fr 1fr;
}

.div__barra-nav {
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.div__botones-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.div__circle-red,
.div__circle-yellow,
.div__circle-green {
  background-color: rgb(141, 141, 141);
  height: 1rem;
  width: 1rem;
  margin-right: 0.4rem;
  border-radius: 50%;
}

.div__circle-red:hover,
.div__circle-yellow:hover,
.div__circle-green:hover {
  cursor: pointer;
  transition: ease-in-out 200ms;
}

.div__circle-red:hover {
  background-color: rgb(189, 20, 20);
}

.div__circle-yellow:hover {
  background-color: rgb(224, 211, 17);
}

.div__circle-green:hover {
  background-color: rgb(74, 189, 20);
}

.input__fake {
  width: 70%;
  border-radius: 0.3rem;
  border-style: none;
  background-color: rgb(255, 255, 255);
  padding: 0.4rem;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover {
  color: rgb(194, 0, 194);
  transition: ease-in, 200ms;
}

header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #eee;
  border-radius: 1rem 1rem 0 0;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: rgb(255, 142, 246);
  height: 5rem;
  box-shadow: 1px 1px 31px -21px rgba(39, 39, 39, 0.75);
  -webkit-box-shadow: 1px 1px 31px -21px rgba(39, 39, 39, 0.75);
  -moz-box-shadow: 1px 1px 31px -21px rgba(39, 39, 39, 0.75);
  z-index: 100;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-right: 3rem;
  padding: 1rem;
}

li {
  padding: 0 1rem;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  background-color: rgb(66, 167, 255);
}

p {
  font-size: 1.5em;
}

.div__presentacion {
  display: flex;
  height: 70vh;
  background-color: #eee;
}

.div__presentacion-texto {
  width: 30vw;
  margin: 6rem 0 0 2rem;
}

.div__presentacion-texto > p {
  display: block;
  padding-top: 2rem;
  line-height: 2rem;
}

.div__sobremi {
  background-color: lightslategray;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: sobremi;
  text-align: justify;
}
.div__sobremi > p {
  padding: 4rem;
  width: 60%;
  box-sizing: border-box;
}
.div__skills {
  grid-area: skills;
  display: block;
}

.div__hobbies {
  grid-area: hobbies;
}

.div__formacion {
  grid-area: estudio;
}

.div__proyectos {
  grid-area: proyectos;
}

.div__contacto {
  grid-area: contacto;
}
footer {
  grid-area: footer;
  background-color: pink;
}
